@model IEnumerable<MarketplaceOnline.Models.Endereco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeRua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeBairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeBairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePais)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
